@import url('https://fonts.googleapis.com/css2?family=Jost&family=Kanit:wght@300;400&family=Poppins&family=Unbounded:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Shadows+Into+Light&display=swap');

body{
    /* pink */
     /* background-color: #fcf5f8; */
     /* yellow */
     background-color: #fffff2;


     /* background-color: white; */
     /* background-color: #fffffa; */
     /* background-color: #fffafa; */
     height: 100vh;

}

 .maincontainer{
     max-width: 100vw;
     min-height: 100%;
     display: grid;
    /* background-color: #ffd6e7;
     */
     grid-template-columns: minmax(10%, 2fr) minmax(80%, 9fr);

     grid-template-rows: 1fr .2fr 1.5fr 9fr;


     grid-template-areas:
     "toptext toptext"
      ". ."
      ". subtitle"
      "category content";


}

.toptext{
    grid-area: toptext;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


#Xdropbtn{
    background: none;
    border: none;
    display: block;
    font-size: 3.9vh;
    word-spacing: .7vw;
    font-family: 'Kalam', cursive;
    margin-top: -.5vw;
}

#Xdropbtn:hover{
    cursor: grab;
}

.Xdropdown-content{
    display: none;
    color: black;
    font-size: 1vw;
    text-decoration: none;
    padding: .5vw;
    margin-top: -.4vw;

    word-spacing: .02vw;
    text-align: right;
    line-height: 4vh;

    width: 10vw;
    right: 0;

}
.Xdropdown-content > a{
    color: black;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}

.showX {
    display: block;
    position: absolute;
}

 .name{
     font-size: 1.5vw;
     color: black;
     font-family: 'Montserrat', sans-serif;
     align-self: start;
     text-decoration: none;
      margin-left: .5vw;
}


 #subtitle{
     grid-area: subtitle;
     font-size: 5vw;
    /* color: #c2b3ff;
     */
     color: black;
     font-family: 'Unbounded', cursive;
     font-weight: 300;
     align-self: end;
     padding-left: 1vw;
     transition: text-shadow 0.5s ease-in-out;
}

 .categories{
     grid-area: category;
     display: inline-block;
     font-size: 1.7vw;
     line-height: 8vh;
     text-align: center;
     padding-top: 4vw;
    /* font-family: 'Poppins', sans-serif;
     */
     font-family: 'Jost', sans-serif;
     /* font-weight: 200; */
}
 .categories>a{
     color: black;
     text-decoration: none;
}
 .dropbtn{
     grid-area: category;
     background: none;
     border: none;
     display: inline-block;
     font-size: 1.8vw;
     line-height: 9vh;
     text-align: center;
     font-family: 'Jost', sans-serif;
}
 .dropbtn:hover{
     cursor: grab;
}
 .dropdown-content{
     display: none;
     color: black;
     font-size: 1vw;
     line-height: 5vh;
     text-decoration: none;
}
 .dropdown-content > a{
     color: black;
     text-decoration: none;
}
 .show {
     display:block;
}
/* .content{
     grid-area: content;
     margin-top: 2vw;
     width: 70vw;
     height: 30vw;
     justify-content: flex-start;
     border: solid #5B6DCD 5px;
}
 */
/* .homepagecontent{
     width: 30vw;
     height: 30vw;
     margin: 1vw;
}
 */
 .playground {
     /* background-color: white; */
     display: grid;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr 1fr;

     grid-area: content;
     margin-top: 1vw;
     margin-bottom: 10vh;
     width: 70vw;
     min-height: 27vw;
     border: 1px solid black;
    /* position: relative; */

}
 #bluecircle {
     grid-row: 2;
     grid-column: 2/4;
     position: absolute;
     width: 10vw;
     height: 10vw;
     background: #4dafd6;
     border-radius: 50%;
     /* transform: translate(47vw, 12vw); */
}
 #greenrectangle {
     position: absolute;
     width: 5vw;
     height: 10vw;
     background: #ff6445;
     /* transform: translate(54vw, 22vw); */
}
 #redtriangle{

     position: absolute;
     width: 0;
     height: 0;
     border-top: 0vw solid transparent;
     /* border-right: 10vw solid #fffbc9; */
      border-right: 10vw solid#fff6a3;
     border-bottom: 8vw solid transparent;
     /* transform: translate(40vw, 24vw); */
}
/* .draggable {
     width: 15vw;
     height: 15vw;
     cursor: move;
     position: absolute;
}
 .new-shape {
     cursor: move;
     position: absolute;
}
 */
 .ball {
     position: absolute;
     width: 8vw;
     height: 8vw;
     border-radius: 50%;
     image-orientation: contain;
}
 #ball1{
     background-color:#4dafd6;

     getURLPath: url(index.html);
}
 #ball2{
     background-color: #ff6445;
}
 #ball3{
     background-color: #fff6a3;
}
