@import url('https://fonts.googleapis.com/css2?family=Jost&family=Kanit:wght@300;400&family=Poppins&family=Unbounded:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Shadows+Into+Light&display=swap');


body{
    /* pink
     background-color: #fcf5f8; */

     /* yellow */
     background-color: #fffff2;

     height: 100vh;

}

 .maincontainer{
     max-width: 99vw;
     min-width: 99vw;
     max-height: 100vh;
     display: grid;
     grid-template-columns: 1fr 5fr 1fr;
     grid-template-areas:
     "toptext toptext toptext"
     "container1 container1 container1"

}

.toptext{
    grid-area: toptext;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


#Xdropbtn{
    background: none;
    border: none;
    display: block;
    font-size: 3.9vh;
    word-spacing: .7vw;
    font-family: 'Kalam', cursive;
    margin-top: -.5vw;
}

#Xdropbtn:hover{
    cursor: grab;
}

.Xdropdown-content{
    display: none;
    color: black;
    font-size: 1vw;
    text-decoration: none;
    padding: .5vw;
    margin-top: -.4vw;

    word-spacing: .02vw;
    text-align: right;
    line-height: 4vh;

    width: 10vw;
    right: 0;

}
.Xdropdown-content > a{
    color: black;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}

.showX {
    display: block;
    position: absolute;
}

 .name{
     font-size: 1.5vw;
     color: black;
     font-family: 'Montserrat', sans-serif;
     align-self: start;
     text-decoration: none;
      margin-left: .5vw;
}



.titlecontainer{
    grid-area: container1;
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 5fr .4fr 4fr;
    grid-template-rows: 2fr 4fr;
    grid-template-areas:
    "image . ."
    "image . description";
    margin: 10vh;
}



.subtitle{
   grid-area: description;
   font-size: 1vw;
   align-self: center;
   font-size: 1vw;
   font-family: 'Unbounded', cursive;
   font-weight: lighter;
   line-height: 3.2vh;
}

#photo{
    grid-area: image;
    width: 100%;
}
