@import url('https://fonts.googleapis.com/css2?family=Jost&family=Kanit:wght@300;400&family=Poppins&family=Unbounded:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost&family=Kanit:wght@300;400&family=Poppins&family=Unbounded:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Shadows+Into+Light&display=swap');


body{
    /* pink */
     /* background-color: #fcf5f8; */

     /* yellow */
     background-color: #fffff2;
 }

.maincontainer{
    max-width: 99vw;
    min-width: 99vw;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
    "toptext toptext toptext"
    "container1 container1 container1"
    ". container2 ."
    ". container3 ."
    ". container4 . "
    ". container5 . ";
    /* "divider divider divider"; */

    grid-gap: 20vh;
}




 .titlecontainer{
     grid-area: container1;
     max-width: 99vw;
     height: 100vh;
     display: grid;
     grid-template-columns: 3fr 1fr 2fr;
     grid-template-rows: .5fr 1.5fr 2fr;
     grid-template-areas:
     ". . ."
     "title . ."
     ". description description";
     margin-top: -20vh;
     /* margin-bottom: 60vh; */
 }

 .toptext{
     grid-area: toptext;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     position: sticky;
     top: 0;
 }


 #Xdropbtn{
     background: none;
     border: none;
     display: block;
     font-size: 3.9vh;
     word-spacing: .7vw;
     font-family: 'Kalam', cursive;
     margin-top: -.5vw;
 }

 #Xdropbtn:hover{
     cursor: grab;
 }

 .Xdropdown-content{
     display: none;
     color: black;
     font-size: 1vw;
     text-decoration: none;
     padding: .5vw;
     margin-top: -.4vw;

     word-spacing: .02vw;
     text-align: right;
     line-height: 4vh;

     width: 10vw;
     right: 0;

 }
 .Xdropdown-content > a{
     color: black;
     text-decoration: none;
     font-family: 'Jost', sans-serif;
 }

 .showX {
     display: block;
     position: absolute;
 }

  .name{
      font-size: 1.5vw;
      color: black;
      font-family: 'Montserrat', sans-serif;
      align-self: start;
      text-decoration: none;
       margin-left: .5vw;
 }



.title{
   grid-area: title;
   font-size: 4.5vw;
   font-family: 'Unbounded', cursive;
   font-weight: lighter;
}

.subtitle{
   grid-area: description;
   font-size: 2vw;
   align-self: center;

}

.daydreamvid{
    grid-area: container2;
    justify-self: center;
    line-height: 1vh;
}

.daydreamvid>video{
  width: 100%;
  padding-bottom: 2vh;
}

.daydreamvid>p{
  line-height: 1vh;
}

.aprilfoolsvid{
  grid-area: container3;
  justify-self: center;
  line-height: 1vh;
}

.aprilfoolsvid>video{
  width: 100%;
  padding-bottom: 2vh;
}

.aprilfoolsvid>p{
  line-height: 1vh;
}


.montagevid{
  grid-area: container4;
  justify-self: center;
}

.montagevid>video{
  width: 100%;
  padding-bottom: 2vh;
}

.montagevid>p{
  line-height: 1vh;
}

.cineromanvid{
  grid-area: container5;
  justify-self: center;
  line-height: 1vh;
}

.cineromanvid>video{
  width: 100%;
  padding-bottom: 2vh;
}

.cineromanvid>p{
  line-height: 1vh;
}


.italicize{
  font-style: italic;
}

.divider{
  grid-area: divider;
  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  margin-left: 10vw;
  margin-right: 10vw;
  grid-template-areas:
  "line1 divtext line2"
}

.line1{
  grid-area: line1;
  width: 100%;
  height: .5vh;
  background: grey;
  justify-self: start;
}

.divider>p{
  grid-area: divtext;
  color: grey;
  font-size: 1em;
  margin-top: -.2vh;
  line-height: 0;
  text-align: center;
}

.line2{
  grid-area: line2;
  width: 100%;
  height: .5vh;
  background: grey;
  justify-self: end;
}
