@import url('https://fonts.googleapis.com/css2?family=Jost&family=Kanit:wght@300;400&family=Poppins&family=Unbounded:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost&family=Kanit:wght@300;400&family=Poppins&family=Unbounded:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Shadows+Into+Light&display=swap');

body{
    /* pink
     background-color: #fcf5f8; */

     /* yellow */
     background-color: #fffff2;

 }

.maincontainer{
    max-width: 100vw;
    /* max-height: 100%; */
    display: grid;
    grid-template-columns: 99vw;

    /* grid-template-rows: .02fr 1fr 1fr 1fr 1fr; */

    grid-template-areas:
    "toptext"
    "container1"
    "container2"
    "container3"
    "container4";
    grid-gap: 60vh;
}

.titlecontainer{
    grid-area: container1;
    max-width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: .5fr 1.5fr 2fr;
    grid-template-areas:
    ". . ."
    "title . ."
    ". description description";
    margin-top: -60vh;
    /* margin-bottom: 60vh; */
}


.toptext{
    grid-area: toptext;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


#Xdropbtn{
    background: none;
    border: none;
    display: block;
    font-size: 3.9vh;
    word-spacing: .7vw;
    font-family: 'Kalam', cursive;
    margin-top: -.5vw;
}

#Xdropbtn:hover{
    cursor: grab;
}

.Xdropdown-content{
    display: none;
    color: black;
    font-size: 1vw;
    text-decoration: none;
    padding: .5vw;
    margin-top: -.4vw;

    word-spacing: .02vw;
    text-align: right;
    line-height: 4vh;

    width: 10vw;
    right: 0;

}
.Xdropdown-content > a{
    color: black;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}

.showX {
    display: block;
    position: absolute;
}

 .name{
     font-size: 1.5vw;
     color: black;
     font-family: 'Montserrat', sans-serif;
     align-self: start;
     text-decoration: none;
      margin-left: .5vw;
}

.title{
    grid-area: title;
    font-size: 4.5vw;
    font-family: 'Unbounded', cursive;
    font-weight: lighter;
}

.subtitle{
    grid-area: description;
    font-size: 2vw;
    align-self: center;

}



#myBtn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 50vw;
  font-size: 5vw;
  border: none;
  outline: none;
  background: none;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: -2vw;
}

.upBtn {
  display: block;
  position: fixed;
  bottom: 0;
  right: 50vw;
  font-size: 5vw;
  border: none;
  outline: none;
  background: none;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: -2vw;
}


.projtext{
    font-size: 1.4vw;
    align-self: center;
    /* font-family: 'Jost', sans-serif; */
    font-family: 'Unbounded', cursive;
    font-weight: lighter;
    line-height: 5vh;
}

.projtextlong{
    font-size: 1vw;
    align-self: center;
    /* font-family: 'Jost', sans-serif; */
    font-family: 'Unbounded', cursive;
    font-weight: lighter;
    line-height: 4vh;
}

.projlabel{
    font-size: 1.8vw;
    font-family: 'Unbounded', cursive;
    font-weight: lighter;
    align-self: center;
    line-height: 6vh;
}

.projectpic{
    width: 100%;
    justify-content: center;
    align-self: center;
}

.projectvid{
    height: 100%;
    /* justify-content: start; */
}

#project1{
    grid-area: container2;
    max-width: 100vw;
    /* max-height: 500vh; */
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 60vh 60vh 60vh 110vh;
    grid-template-areas:
    ". dropimage1 dropimage1 ."
    ". droplabel1 dropdesc1  ."
    ". dropimage2 dropimage2 ."
    ". droplabel2 dropdesc2  .";
    /* grid-gap: 4vh; */
    grid-row-gap: 11vh;
}

#line1{
    grid-area: dropimage1;
    align-self: start;
    margin-top: -20vh;
    font-size: 3vh;
}

/* .projectpic{
    grid-area: image;
    width: 80vw;
    height: 60vh;
    justify-content: center;
    border: 1px solid black;
} */

#dropphoto1{
    grid-area: dropimage1;
    /* width: 100%; */
    /* height: 60vh; */
    /* justify-content: center;
    align-self: center; */
    /* border: 1px solid black; */
}

#dropphoto2{
    grid-area: dropimage2;
    /* width: 100%; */
    /* height: 60vh; */
    /* justify-self: center;
    align-self: center; */
    /* border: 1px solid black; */
}

#droplabel1{
    /* height: 30vh; */
    grid-area: droplabel1;
    text-align: center;
    /* align-self: center; */
    /* font-family: 'Gloock', serif; */
}

#droplabel2{
    /* height: 30vh; */
    grid-area: droplabel2;
    text-align: center;
    /* align-self: center; */
    /* font-family: 'Gloock', serif; */
}

#dropdesc1{
    /* height: 30vh; */
    align-self: center;
    grid-area: dropdesc1;
}

#dropdesc2{
    /* height: 30vh; */
    align-self: center;
    grid-area: dropdesc2;
}




#project2{
    grid-area: container3;
    max-width: 100vw;
    /* max-height: 200vh; */
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 60vh 60vh 60vh 110vh;
    grid-template-areas:
    ". figma1 figma1 ."
    ". figmalabel1 figmadesc1 ."
    ". figmavid figma2 ."
    ". figmalabel2 figmadesc2 .";
    grid-row-gap: 11vh;
}

#line2{
    grid-area: figma1;
    align-self: start;
    margin-top: -20vh;
    font-size: 3vh;
}

#figma1{
    grid-area: figma1;
    /* width: 78vw;
    height: 60vh;
    justify-content: center;
    border: 1px solid black; */
}

#figmavid{
    grid-area: figmavid;

    /* width: 40vw;
    height: 20vh;
    justify-content: center;
    border: 1px solid black; */
}

#figma2{
    grid-area: figma2;
    justify-content: start;
    margin-left: -20vw;
}

#figmalabel1{
    grid-area: figmalabel1;
    text-align: center;
}

#figmadesc1{
    grid-area: figmadesc1;
    align-self: center;
}

#figmalabel2{
    grid-area: figmalabel2;
    text-align: center;
}

#figmadesc2{
    grid-area: figmadesc2;
    align-self: center;
}


#project3{
    grid-area: container4;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 60vh 60vh 60vh 110vh;
    grid-template-areas:
    ". bsi1 bsi1 ."
    ". bsilabel1 bsidesc1 ."
    ". bsi2 bsi2 ."
    ". bsilabel2 bsidesc2 ."
    ". bsivid2 bsivid2desc .";
    grid-row-gap: 11vh;
    margin-bottom: 20vh;
}

#line3{
    grid-area: bsi1;
    align-self: start;
    margin-top: -20vh;
    font-size: 3vh;
}

#bsi1{
    grid-area: bsi1;
    background: "bsicover.png";
    display: grid;
    width: 100%;
    position: relative;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

#bsi1>img{
    /* grid-row: span 1; */
    grid-column: span 2;
    width: 100%;
}




#bsivid1{
    grid-column: span 2;
    justify-self: end;
    align-self: center;
    height: 60%;
    position: absolute;
    margin-right: 25%;
}


#bsi2{
    grid-area: bsi2;
}

#bsilabel1{
    grid-area: bsilabel1;
    text-align: center;
}

#bsidesc1{
    grid-area: bsidesc1;
}


#bsilabel2{
    grid-area: bsilabel2;
    text-align: center;
}

#bsidesc2{
    grid-area: bsidesc2;
}

#bsivid2{
    grid-area: bsivid2;
    justify-self: start;
    align-self: center;
    /* position: absolute; */
    /* height: 60%; */
    width: 100%;

}

#bsivid2desc{
    grid-area: bsivid2desc;
    padding: 2vw;
}

#bsiscreenlabel{
    grid-area: bsivid2;
    justify-self: start;
    font-size: 1.5vw;
    font-style: italic;
    color: grey;
    align-self: end;
    margin-bottom: 24%;
    padding: 1vh;
}
